services:
  mariadb:
    image: mariadb:11
    container_name: mariadb_api
    restart: unless-stopped

    env_file:
      - .env

    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}

    ports:
      - "${DB_PORT}:3306"

    volumes:
      - ./docker/data:/var/lib/mysql

    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --default-time-zone=${DB_TIMEZONE}
